.row {
  height: 50vh;
}

.bg-login-img {
  background: url(../img/login-pic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.bg-color {
  background-color: #fff;
}

.hr-space {
  height: 100px;
}